include ../social-icons/social-icons.pug
include ../menu-button/menu-button.pug
mixin header-top(data)
    .header-top
        .container
            .header-top-content
                +social-icons(socialIcons)
                +menu-button()

