include ../social-icons/social-icons.pug
include ../menu-button/menu-button.pug
mixin header-top(data)
    .container
        .header-top
            +social-icons(socialIcons)
            +menu-button()

