@import "susy/sass/_susy.scss";
@import "susy/sass/susy-prefix";
@import 'susy/sass/plugins/svg-grid';

html{
    font-size: 16px;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-family:  'Arial', sans-serif;
    color: #c0c0c0;
}

img {
    width: 100%;
    height: auto;
}

// tag styles reset
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



$susy: (
        'svg-grid-colors': #c0c0c0,
        'columns': susy-repeat(10, 24px),
        'gutters': 8px,
        'container-spread': 'narrow',
);

$tablets-screen: (
        'columns': susy-repeat(12, 38px),
        'gutters': 24px,
        'svg-grid-colors': #afffbf,
        'container-spread': 'narrow',
);
$laptop-screen: (
        'columns': susy-repeat(12, 60px),
        'gutters': 20px,
        'svg-grid-colors': #fdff4b,
        'container-spread': 'narrow',
);
$desktop-screen: (
        'columns': susy-repeat(12, 80px),
        'gutters': 20px,
        'svg-grid-colors': #ff464d,
        'container-spread': 'wide',
);

.page__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}
