// File for scss-vars.
// For example: main colors, paddings and so on.
$gray:                 #455a64;
$gray--dark:           #373e42;
$gray--dark-37:        #53595d;
$gray--light:          #d0d1d2;
$gray--light-94:       #f0efe9;
$gray--light-86:       #d6d6d6;
$gray--light-81:       #c4cbcd;

$main:                 #00bfa5;
$mail--dark:           #009688;
$link--color:          #6da3db;
$color--danger:        #e44845;
$color--blend:         rgba(#3b6471, 0.5);

$white--main:           #ffffff;
$white--ligth-50:       rgba(#ffffff, 0.5);
$white--ligth-20:       rgba(#ffffff, 0.2);

$main--beige:          #efeee9;
$second--beige:        #eeebdf;


