mixin user-info(data)
    .user-info
        .user-info__avatar(style="background-image: url('%=static=%img/assets/user-info/main-foto_1x.jpg')")
        .user-info__name Соловьёв Игорь
        .user-info__tagline Личный сайт веб разработчика
