include ../header-top/header-top.pug
include ../header-middle/header-middle.pug
include ../header-bottom/header-bottom.pug
mixin header(data)
    section.page-header
        +header-top()
        +header-middle()
        +header-bottom()