include ../page-title/page-title.pug
mixin aboutme(data)
    .aboutme
        case lang
            when "ru"
                +page-title(titles.ru.aboutme)
            when "en"
                +page-title(titles.en.aboutme)
            default
                +page-title(titles.en.aboutme)
